/* Olga Alonso Grela UO288066 */

/* Especificidad 001 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 5px;
    border-radius: 5px;
    padding: 0 calc(100vmax / 30);
}

/* Especificidad 002 */
header h1 {
    padding-right: calc(100vmax / 50);
}

/* Especificidad 002 */
header+p {
    padding-left: calc(100vmax / 95);
    justify-self: left;
}

/* Especificidad 001 */
h2 {
    text-align: center;
}

/* Especificidad 001 */
body{
    text-align: center;
}

/* Especificidad 002 */
body p {
    padding:0 2%; 
}

/* Especificidad 002 */
aside ul {
    display: flex;
    padding-left: 0;
    column-gap: 1%;
    justify-content: space-evenly;
}

/* Especificidad 002 */
aside h4 {
    text-align: center;
    margin: 3%;
}

/* Especificidad 003 */
aside ul li {
    display: block;
    justify-self: center;
}

/* Especificidad 004 */
aside ul li ul {
    display: block;
    justify-self: center;
}

/* Especificidad 005 */
aside ul li ul li {
    padding-bottom: 2%;
}

/* Especificidad 002 */
aside ol {
    justify-self: center;
}

/* Especificidad 001 */
dl {
    justify-self: center;
}

/* Especificidad 002 */
dl dt {
    text-align: center;
    justify-self: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Especificidad 002 */
dl dd {
    text-align: center;
    justify-self: center;
    min-width: 70%;
    max-width: 90%;
}

/* Especificidad 002 */
table caption {
    padding-bottom: 1%;
}

/* Especificidad 001 */
td {
    padding: 0 2%;
}

/* Especificidad 001 */
video {
    display: block;
} 

/* Especificidad 001 */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    align-content: start;
    justify-content: space-around;
    row-gap: calc(100vmax / 85);
    width: 100%;
    column-gap: calc(100vmax / 85);
}

/* Especificidad 002 */
main p {
    flex: 1 1 100%;
}

/* INDEX -------------------------------------------------------------------- */
/* Especificidad 001 */
section {
    justify-self: center;
    margin-bottom: 3%;
}

/* Especificidad 002 */
section img {
    justify-self: center;
    padding-top: 1%;
}

/* AYUDA -------------------------------------------------------------------- */
/* Especificidad 002 */
main section {
    flex: 1 1 28%;
    padding: 0 2%;
}

main section img {
    max-width: calc(100vmax / 7);
}

/* Especificidad 003 */
main section h3 {
    padding: 1% 2%;
}

/* Especificidad 002 */
main aside ul {
    flex: 0 0 45%;
    padding: 0 2%;
}

/* METEO -------------------------------------------------------------------- */

/* Especificidad 003 */
main article {
    flex: 1 1 47%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
}

/* Especificidad 002 */
main form {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
    row-gap: 1%;
    column-gap: 1%;
}

/* Especificidad 003 */
main article p {
    margin: 1%;
}

/* Especificidad 003 */
main article h2 {
    padding: 1% 25%;
}

/* Especificidad 003 */
main article aside {
    justify-items: center;
}

/* Especificidad 004 */
main article aside img {
    max-width: 60%;
    justify-self: center;
}

/* Especificidad 004 */
main article aside article {
    max-width: 85%;
}

/* Especificidad 004 */
main article article ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

/* Especificidad 003 */
main article article {
    padding-right: 10%;
}

/* Especificidad 005 */
main article article ul li{
    flex: 1 1 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    align-self: start;
}

/* Especificidad 006 */
main article article ul li img {
    height: calc(100vmax / 15);
    width: auto;
    object-fit: contain;
}

/* Especificidad 00 */
main article article ul li p {
    margin: 0;
}

/* ARTICLE ----------------------------------------------------------------- */
/* Especificidad 001 */
article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
}

/* Especificidad 002 */
main button {
    justify-self: center;
    padding: 1% 10%;
}

/* Especificidad 002 */
main span {
    margin: 4%;
}

